{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header" style="background: url({{ asset('pictures/bueau.jpg') }}) center center no-repeat scroll;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <ul class="nav nav-pills scrollmenu" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#bureau" role="tab" aria-controls="bureau" aria-selected="true">Bureau</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#responsables" role="tab" aria-controls="responsables" aria-selected="false">Résponsables par catégorie</a>
        </li>
    </ul>
    <div class="container p-0" id="container-bureau">
        <div class="tab-content mt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="bureau" role="tabpanel" aria-labelledby="bureau-tab">
                <h1 class="text-center m-4">Bureau</h1>
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.president, 'role': 'Président'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.vicePresident, 'role': 'Vice-président'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.vicePresident2, 'role': 'Vice-président'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.vicePresident3, 'role': 'Vice-président'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.secretaire, 'role': 'Secrétaire'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.tresorier, 'role': 'Trésorier'} %}
            </div>
            <div class="tab-pane fade" id="responsables" role="tabpanel" aria-labelledby="responsables-tab">
                <h1 class="text-center m-4">Responsables par équipe</h1>
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableSeniorA, 'role': 'Senior A'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableSeniorB, 'role': 'Senior B'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableU18, 'role': 'U18'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableU15, 'role': 'U15'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableU13, 'role': 'U13'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableU11, 'role': 'U11'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableU9, 'role': 'U9'} %}
                {% include 'template/template-card-bureau.html.twig' with {'licencie': bureau.responsableU7, 'role': 'U7'} %}
            </div>
        </div>
    </div>
{% endblock %}