{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header business-header-buteurs" style="background: url({{ asset('pictures/buteurs.jpg') }}) center center no-repeat scroll;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <ul class="nav nav-pills mb-3 scrollmenu" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-seniors" role="tab"
               aria-controls="pills-seniors" aria-selected="true">Seniors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-veterans" role="tab"
               aria-controls="pills-veterans" aria-selected="false">Vétérans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-seniorsF" role="tab"
               aria-controls="pills-seniorsF" aria-selected="false">Seniors F</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-U18" role="tab"
               aria-controls="pills-U18" aria-selected="false">U18</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-U15" role="tab"
               aria-controls="pills-U15" aria-selected="false">U15</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-U13" role="tab"
               aria-controls="pills-U15" aria-selected="false">U13</a>
        </li>
    </ul>
    <div class="container-fluid p-0">
         <div class="row no-gutters">
            <div class="tab-content col-12" id="pills-tabContent">
                {% include 'template/template-classement-buteurs.html.twig' with {id:"pills-seniors", title: "Buteurs Seniors", buteurs: seniors } %}
                {% include 'template/template-classement-buteurs.html.twig' with {id:"pills-veterans", title: "Buteurs Veterans", buteurs: veterans } %}
                {% include 'template/template-classement-buteurs.html.twig' with {id:"pills-seniorsF", title: "Buteuses Seniors", buteurs: seniorsF } %}
                {% include 'template/template-classement-buteurs.html.twig' with {id:"pills-U18", title: "Buteurs U18", buteurs: U18 } %}
                {% include 'template/template-classement-buteurs.html.twig' with {id:"pills-U15", title: "Buteurs U15", buteurs: U15 } %}
                {% include 'template/template-classement-buteurs.html.twig' with {id:"pills-U13", title: "Buteurs U13", buteurs: U13 } %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('build/buteurs.js') }}"></script>
{% endblock %}
