{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <header class="business-header business-header-eff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container p-0">
        <h1 class="page-header mt-5 mb-5">{{ category }} -<small> {{ nb_joueurs }} Joueurs</small></h1>
        <h2 class="mt-5 mb-4">Gardiens</h2>
        <div class="row">
            {% for gardien in gardiens %}
                <div class="col-4">
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': gardien} %}
                </div>
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Defenseurs</h2>
        <div class="row">
            {% for defenseur in defenseurs %}
                <div class="col-4">
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': defenseur} %}
                </div>
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Milieux</h2>
        <div class="row">
            {% for milieu in milieux %}
                <div class="col-4">
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': milieu} %}
                </div>
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Attaquants</h2>
        <div class="row">
            {% for attaquant in attaquants %}
                <div class="col-4">
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': attaquant} %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}