{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header" style="background: url({{ asset('pictures/effectifs.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-header mt-5 mb-5 text-center">Effectif {{ category }} -<small> {{ nb_joueurs }} Joueurs</small></h1>
            </div>
        </div>
        <h2 class="mt-5 mb-4">Gardiens</h2>
        <div class="row">
            {% for gardien in gardiens %}
                {% include 'template/template-card-effectif.html.twig'  with {'licencie': gardien} %}
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Defenseurs</h2>
        <div class="row">
            {% for defenseur in defenseurs %}
                {% include 'template/template-card-effectif.html.twig'  with {'licencie': defenseur} %}
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Milieux</h2>
        <div class="row">
            {% for milieu in milieux %}
                {% include 'template/template-card-effectif.html.twig'  with {'licencie': milieu} %}
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Attaquants</h2>
        <div class="row">
            {% for attaquant in attaquants %}
                {% include 'template/template-card-effectif.html.twig'  with {'licencie': attaquant} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}