{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header business-header-eff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container p-0">
        <h1 class="page-header mt-5 mb-5">Effectif {{ category }} -<small> {{ nb_joueurs }} Joueurs</small></h1>
        <h2 class="mt-5 mb-4">Gardiens</h2>
        <div class="d-none d-md-block ">
            <div class="row">
                {% for gardien in gardiens %}
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': gardien} %}
                {% endfor %}
            </div>
        </div>
        <div class="d-block d-md-none">
            {% for gardien in gardiens %}
                {% include 'template/template-card-effectif-mobile.html.twig'  with {'licencie': gardien} %}
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Defenseurs</h2>
        <div class="d-none d-md-block ">
            <div class="row">
                {% for defenseur in defenseurs %}
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': defenseur} %}
                {% endfor %}
            </div>
        </div>
        <div class="d-block d-md-none">
            {% for defenseur in defenseurs %}
                {% include 'template/template-card-effectif-mobile.html.twig'  with {'licencie': defenseur} %}
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Milieux</h2>
        <div class="d-none d-md-block ">
            <div class="row">
                {% for milieu in milieux %}
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': milieu} %}
                {% endfor %}
            </div>
        </div>
        <div class="d-block d-md-none">
            {% for milieu in milieux %}
                {% include 'template/template-card-effectif-mobile.html.twig'  with {'licencie': milieu} %}
            {% endfor %}
        </div>
        <h2 class="mt-5 mb-4">Attaquants</h2>
        <div class="d-none d-md-block ">
            <div class="row">
                {% for attaquant in attaquants %}
                    {% include 'template/template-card-effectif.html.twig'  with {'licencie': attaquant} %}
                {% endfor %}
            </div>
        </div>
        <div class="d-block d-md-none">
            {% for attaquant in attaquants %}
                {% include 'template/template-card-effectif-mobile.html.twig'  with {'licencie': attaquant} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}