<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3>BESOIN D'AIDE ?</h3>
                    <ul>
                        <li> <a href="{{ path('contact') }}"> Contacts </a> </li>
                        <li> <a href="#"> Nous écrire </a> </li>
                        <li> <a href="{{ path('plans') }}"> Plan des deux stades </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> SPONSORS </h3>
                    <ul>
                        <li> <a href="http://lespepinieresdufredet.fr/" target="_blank"> Les pépinières du Frédet </a> </li>
                        <li> <a href="http://www.lesptitsloups27.com/" target="_blank"> Restaurant les P'tits Loups </a> </li>
                        <li> <a href="https://agence.axa.fr/haute-normandie/eure/cormeilles/froudiere-anthony" target="_blank"> Assurance Axa Cormeilles </a> </li>
                        <li> <a href="https://www.ca-normandie-seine.fr/banque-assurance/cormeilles/cormeilles.html" target="_blank"> Crédit Agricole Cormeilles </a> </li>
                        <li> <a href="http://www.normandie-accueil.fr/page,0,0,181.html" target="_blank"> Bar Brasserie Du Haras </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> LIENS ANNEXES </h3>
                    <ul>
                        <li> <a href="#"> Site du district de l'eure </a> </li>
                        <li> <a href="#"> Site de la FFF </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> SUIVEZ-NOUS </h3>
                    <ul class="social">
                        <li class = "icoFacebook"> <a href="https://www.facebook.com/usclfoot/" target="_blank"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li class = "icoTwitter"> <a href="https://twitter.com/USCL_27" target="_blank"> <i class="icoTwitter fa fa-twitter">   </i> </a> </li>
                        <li class = "icoYoutube"> <a href="https://www.youtube.com/channel/UCw3lpz33Gq-0xr5e3-OP6ag/videos" target="_blank"> <i class="icoYoutube fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="text-center"> Copyright © USCL 2018. Tous droits reservés. Réalisé par Delamare Médéric</p>
        </div>
    </div>
</footer>