{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Union Sportive Cormeilles Lieurey</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="page-header">Bienvenue sur le site de l'USCL</h1>
        <h2 class="page-header">Quelques chiffres</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-line-chart" aria-hidden="true"></i> Evolution du nombre de licenciés</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-users" aria-hidden="true"></i> Nombre d'équipes</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                Vétérans
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                Seniors
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U18
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U15
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U13
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U11
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U9
                                <span class="badge badge-primary badge-pill">4</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                U7
                                <span class="badge badge-primary badge-pill">4</span>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-calendar" aria-hidden="true"></i> Calendrier des entraînements </h4>
                    </div>
                    <div class="panel-body">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/src/fotorama.js') }}"></script>
    <script src='{{ asset('vendor/moment/min/moment.min.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/fullcalendar.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/locale/fr.js') }}'></script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['10/11','11/12','12/13','13/14','14/15','15/16','16/17'],
                datasets: [{
                    data: [143,131,149,157,191,208,231],
                    borderWidth: 2,
                    backgroundColor: [],
                    lineTension: 0.1,
                    fill: false,
                    borderColor: "rgb(58, 83, 155)"
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Position'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Année'
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: false,
                columnFormat: 'dd',
                allDaySlot: false,
                defaultView: 'agendaWeek',
                minTime: '14:00:00',
                maxTime: '21:00:00',
                weekends:false,
                events: [
                    {
                        start: '19:00',
                        end: '21:00',
                        dow: [ 3,5 ],
                        backgroundColor: '#ff0000'
                    },
                    {
                        title:"U7/U9",
                        start: '14:00',
                        end: '15:30',
                        dow: [ 3 ],
                        backgroundColor: '#5472AE'
                    },
                    {
                        title:"U11",
                        start: '15:30',
                        end: '17:00',
                        dow: [ 3 ],
                        backgroundColor: '#4CA66B'
                    },
                    {
                        title:"U13/U15",
                        start: '17:00',
                        end: '19:00',
                        dow: [ 3 ],
                        backgroundColor: '#008B8B'
                    }
                ]
            });

        });
    </script>
{% endblock %}