{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">Plans</li>
    </ol>
    <div class = "container">
        <h1 class = "page-header"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Plans</h1>
        <h3 class = "page-header text-right">Cormeilles</h3>
        <div class = "row">
            <div class = "col-sm-4">
                <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Adresse</h4>
                Stade Maxime Decamp<br />
                Rue Paul Mare<br />
                27260 Cormeilles<br /><br />
                <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informations sur l'équipement sportif</h4>
                Type : Découvert<br />
                Nature du sol : Gazon Naturel<br/>
                Dimensions du terrain : Longueur 110m Largeur 98m<br />
                Nombre de vestiaires : 3<br />
            </div>
            <div class = "col-sm-offset-4 col-sm-4 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2188.992539794831!2d0.37288281516878474!3d49.24390018621619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e1b64ca6da275b%3A0xf416f7f0ca522d01!2sStade+Maxime+Decamp!5e1!3m2!1sfr!2sfr!4v1451943457207" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <h3 class = "page-header">Lieurey</h3>
        <div class = "row">
            <div class = "col-sm-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2180.7665280322585!2d0.4995437651682721!3d49.231108637297034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e1b03815453af3%3A0x89db348ae8fedf09!2sStade+Maurice+Rabasse%2C+Avenue+du+Stade%2C+27560+Lieurey!5e1!3m2!1sfr!2sfr!4v1452013770730" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>			</div>
            <div class = "col-sm-offset-3 col-sm-4 text-right">
                <h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Adresse</h4>
                Stade Maurice Rabasse<br />
                Avenue du Stade<br />
                27560Lieurey<br /><br />
                <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informations sur l'équipement sportif</h4>
                Type : Découvert<br />
                Nature du sol : Gazon Naturel<br/>
                Dimensions du terrain : Longueur 130m Largeur 83m<br />
                Nombre de vestiaires : 2
            </div>
        </div>
    </div>
{% endblock %}