{% extends 'base.html.twig' %}
{% block body %}
<header class="business-header" style="background: url({{ asset('pictures/bueau.jpg') }}) center center no-repeat scroll;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"></h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            {% include 'template/template-card-produit-details.html.twig' with {'produit': produit} %}
        </div>
    </div>
</div>
{% endblock %}