{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header"
            style="background: url({{ asset('pictures/buteurs.jpg') }}) center center no-repeat scroll;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <ul class="nav nav-pills scrollmenu" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profil-tab" data-toggle="tab" href="#profil" role="tab"
               aria-controls="profil" aria-selected="true">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="carriere-tab" data-toggle="tab" href="#carriere" role="tab" aria-controls="carriere"
               aria-selected="false">Carrière</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="fait-match-tab" data-toggle="tab" href="#fait-match" role="tab"
               aria-controls="fait-match" aria-selected="false">Faits de match</a>
        </li>
    </ul>
    <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="profil" role="tabpanel" aria-labelledby="profil-tab">
            <div class="container">
                <h1 class="text-center m-4">Profil</h1>
                {% include 'template/template-profil-default.html.twig' %}
            </div>
        </div>
        <div class="tab-pane fade" id="carriere" role="tabpanel" aria-labelledby="carriere-tab">
            <div class="container p-0">
                <h1 class="text-center m-4">Carrière</h1>
                {% for carriere in joueur.carriere %}
                    {% include 'template/template-profil-carriere.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="fait-match" role="tabpanel" aria-labelledby="fait-match-tab">
            <div class="container p-0">
                <h1 class="text-center m-4">Faits de match</h1>
                {% for match,stat in stats %}
                    {% include 'template/template-profil-faits-match.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-eu.js"></script>

    <script>
        $('.counter').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 2000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>

    <script>
        $('#faits-match').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
            "autoWidth": false,
            "paging": false,
            "bInfo": false,
            "searching": false,
            "order": [[0, "desc"]],
            columnDefs: [
                {type: 'date-eu', targets: 0}
            ]
        });
    </script>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ vnd|json_encode }},
                    backgroundColor: ['#b5e7a0', '#ffef96', '#eca1a6']
                }],
                labels: ['Victoires', 'Nuls', 'Défaites'],
            },
        });

    </script>


{% endblock %}