{% extends 'base.html.twig' %}

{% block body %}
<header class="business-header" style="background: url({{ asset('pictures/seniorB.JPG') }}) center center no-repeat scroll;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"></h1>
            </div>
        </div>
    </div>
</header>
<ul class="nav nav-pills mb-3 scrollmenu" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-classement" role="tab" aria-controls="pills-home" aria-selected="true">Classement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-resultats" role="tab" aria-controls="pills-resultats" aria-selected="false">Résultats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-agenda" role="tab" aria-controls="pills-agenda" aria-selected="false">Agenda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-calendrier" role="tab" aria-controls="pills-calendrier" aria-selected="false">Calendrier</a>
    </li>
</ul>
<div class="container-fluid">
    <div class="row">
        <div class="tab-content col-12 p-0" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-classement" role="tabpanel" aria-labelledby="pills-home-tab">
                {% include 'template/template-statistiques-classement.html.twig' %}
            </div>
            <div class="tab-pane fade" id="pills-resultats" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include 'template/template-statistiques-resultats.html.twig' %}
            </div>
            <div class="tab-pane fade" id="pills-agenda" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include 'template/template-statistiques-agenda.html.twig' %}
            </div>
            <div class="tab-pane fade" id="pills-calendrier" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include 'template/template-statistiques-calendrier.html.twig' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/statistiques.js') }}"></script>
{% endblock %}
