{% for calendrierDetail in equipes %}
    <tr>
        <td>{{ calendrierDetail.date|date("d/m/Y") }}</td>
        <td class="equipeGauche">{{ calendrierDetail.equipeDomicile.nomParse }}</td>
        <td class="score">{{ calendrierDetail.score }}</td>
        <td class="equipeDroite">{{ calendrierDetail.equipeExterieure.nomParse }}</td>
    </tr>
{% endfor %}