.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #0050A1;
}

.skin-black .sidebar a {
    color: #FFFFFF;
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    color: #fff;
    background-color: rgba(0,80,161,0.5);
    border-left-color: #fff;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background-color: rgb(0, 46, 92);
}
