html {
  height: 100%;
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
  }

  .bg-uscl-primary{
    background-color: $color-uscl-primary;
  }

  .border-uscl-primary{
    border-color: $color-uscl-primary;
  }

  .box-shadow{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
  }

  h2{
    border-left: 3px solid $color-uscl-primary;
    line-height: 1.1em;
    padding: 10px 0 10px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
