.badge{
  color: white;
}

.badge-seniors {
  background-color: #ff0000;
}

.badge-U18 {
  background-color: #5472AE;
}

.badge-U15 {
  background-color: #4CA66B;
}

.badge-U15 {
  background-color: #4CA66B;
}

.badge-U13 {
  background-color: #008B8B;
}

.badge-U11 {
  background-color: #A9A9A9;
}

.badge-U9 {
  background-color: #EE82EE;
}

.badge-U7 {
  background-color: #EE82EE;
}

.badge-f {
  background-color: #8A2BE2;
}