.business-header {
  height: 400px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: contain;
  -o-background-size: cover !important;
  padding-top: 50px !important;
}