.card-profil{
  text-decoration: none;
  color: black;
  .img-effectif {
    width: 75px;
  }
}

.card-profil-mobile{
  text-decoration: none;
  color: black;
  .img-effectif {
    width: 75px;
  }
}

@media (max-width: 574px) {
  .col-no-gutters{
    padding: 0;
  }
  .col-card-profile{
    padding: 0;
  }
  .card-profil{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #0050A1;
    border-bottom: 1px solid transparent;
    margin-top: 0px !important;
    border-radius: 0px;
    box-shadow: none !important;
    .card-body {
      padding: 0px;
    }
  }

}