<div class="item zoom-on-hover">
    <a class="lightbox" href="{{photo}}">
        <img class="img-fluid image" src="{{ photo }}">
        <span class="description">
            <span class="description-heading">{{ heading }}</span>
            <span class="description-body">{{ body }}</span>
        </span>
    </a>
</div>